!dist/
!README.md
!LICENSE
!package.json

dist/**/*.test.js
dist/**/*.spec.js
dist/**/*.map

node_modules/
src/
tests/
coverage/
dist/
tsconfig.json
tsconfig.*.json
.eslintignore
.eslintrc.*
.prettierrc
jest.config.js
.env
*.log
*.mjs
